* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;

}

.brand-logo{
    margin-left: 15px;

}


nav ul a{
    font-size:1.3rem;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}